$white: #fff;
$black: #000;
$grey: #4d5053;
$brown-primary1: #cda274;
$grey-primary2: #292f36;
$light: #efe8e1;
$light-brown: #b58f67;
$light-primary3: #f4f0ec;
$light-grey: #1d2127;
$light-white: #e7e7e7;
